@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

.galleryContainer {
  width: 720px;
  height: 316px;
  top: 96px;
  margin-left: -72px;
  background-color: #363c43;
  color: white;
  border-radius: 18.89px;
  box-shadow:   5.67px 5.67px 3.78px 0px rgba(0, 0, 0, 0.4);
  padding: 16px;
  }
  
  .galleryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .galleryHeader span{
    width: 149px;
    height: 62px;
    top: 37px;
    margin-left: 40px;
    background-color: #171717;
    text-align: center;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.25) inset;
    border-radius: 20px;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding: 10px 24px 10px 24px;
  }

  .addButton {
    width: 131.32px;
    height: 46px;
    top: 481px;
    margin-right: 200px;
    border-radius: 104px ;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0px 3.26px 3.26px 0px rgba(255, 255, 255, 0.15) inset;
    box-shadow: 0px 0px 48.91px 0px rgba(255, 255, 255, 0.05) inset;
    box-shadow: 9px 10px 7.1px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -0.5px -0.5px 6.9px 0px rgba(255, 255, 255, 0.25);
    rotate: -180 deg;
    font-family: 'Plus Jakarta Sans',sans-serif;
    font-size: 12px;
    font-weight: 800;
    line-height: 6.29px;
    text-align: center;
    color: rgba(255, 255, 255, 1);

  }
  
  .galleryImages {
    display: flex;
  
  }
  
  .image {
    margin-top: 30px;
    margin-left: 35px;
  }
  
  .icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 390px;
    gap: 105px;
  }

  .squicon{
    width: 24px;
    height: auto;
    position: absolute;
    top: 526px;
  }


  .rectangle2{
    width: 612px;
    height: 4px;
    top: 433px;
    left: 976px;
    border-radius: 2.46px;
    background: linear-gradient(180deg, rgba(40, 40, 40, 0.1) 0%, rgba(248, 248, 248, 0.1) 100%),
                linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.33);

  }





  